.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 12px 26px;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.2, 0.8, 0.4, 1);

  &:hover {
    transform: translateY(-2px);
  }

  .name {
    font-weight: 500;
    font-size: 14px;
    color: #3c4858;
    margin-bottom: 12px;
  }
  .tags {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  .category {
    font-weight: 400;
    font-size: 14px;
    color: #8492a6;
    flex-basis: 25%;
    text-align: end;
  }
}
.selected {
  border: 1px solid #12b8ff;
}
