.wrapper {
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 14px 24px 24px 24px;
  position: relative;
}
.title {
  margin-bottom: 20px;
  h4 {
    font-weight: 500;
    font-size: 16px;
    color: #3c4858;
    margin: 0;
  }
}
.divider {
  border-top: 1px solid #ebebeb;
  position: absolute;
  left: 0;
  right: 0;
}
.main {
  margin-top: 3rem;

  div {
    &:first-child {
      input[type='checkbox'] {
        cursor: pointer;
        width: 16px;
        height: 16px;
        margin: 0;
        vertical-align: text-bottom;
        margin-right: 8px;
        accent-color: #0d9cd9;
      }
      label {
        cursor: pointer;
        font-weight: 500;
        font-size: 13px;
        color: #8492a6;
      }
    }
  }
}
