.container {
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
  padding-left: 16px;
  padding-right: 16px;

  @media (min-width: 600px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.titleSection {
  margin-top: 5rem;
  margin-bottom: 3rem;

  h3 {
    font-size: 18px;
    color: #3c4858;
    font-weight: 500;
    margin-bottom: 6px;
  }

  p {
    font-size: 14px;
    color: #8492a6;
    margin: 0;
  }
}
.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  align-items: flex-start;
}
.leftSection {
  display: grid;
  gap: 1rem;

  .productList {
    display: grid;
    gap: 0.5rem;
  }
}

.tabs {
  .tabList {
    display: flex;
    padding: 0;
    list-style-type: none;

    li {
      padding: 20px 2px;
      font-weight: 500;
      font-size: 14px;
      color: #12b8ff;
      cursor: pointer;
      border-bottom: 1px solid;
      padding: 0.8rem 2.2rem;

      &:nth-last-child(-n + 2) {
        color: #dadee4;
        cursor: not-allowed;
      }
    }
  }
}
